@using Umbraco.SampleSite.Models
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>
@{
    Layout = "_Master.cshtml";
}

<partial name="Partials/SectionHeader"/>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>@Model.MapHeader</h2>
                @Model.MapCoordinates
            </div>
            <div class="col-md-6">
                <h2>@Model.ContactFormHeader</h2>
                @Model.ContactIntro
                <partial name="Partials/ContactForm" model="@(new ContactFormViewModel())"/>
            </div>
        </div>
    </div>
</section>